<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> django rest api</h1>
    <br><br>
    <h3>GET :</h3> <h5>http://padmakar.pythonanywhere.com/api</h5>
    <hr>
    <h3>POST :</h3> <h5>http://padmakar.pythonanywhere.com/api</h5> 
    <br>
    <hr>
    <p> here , id should be integer value in put and delete </p>
    <h3>PUT:</h3> <h5>http://padmakar.pythonanywhere.com/api/id</h5>
    <hr> 
    <h3>GET :</h3> <h5>http://padmakar.pythonanywhere.com/api/id</h5>
    <hr> 

</body>
</html>